.App {
  text-align: center;
}

.App-header {
  background-color: #272420;
  color: white;
  height: 7vh;
}

.App-title {
  font-size: 1.4em;
  margin: auto;
  padding: 2vh;
}

.App-list-button {
  position: absolute;
  left: 1vh;
  top: 1vh;
  padding: 1.5vh;
  background-color: #444;
  color: white;
}

.search-list {
  position: absolute;
  left: -300px;
  top: 7vh;
  width: 300px;
  height: 93vh;
  z-index: 1;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 20px 0px #222;
  transition: all 0.3s ease-in
}

.search-list.open {
  left: 0;
}

.search-list input {
  margin: 20px auto;
  width: 80%;
  height: 25px;
  text-align: center;
  font-size: 1em;
  background-color: #222;
  color: white;
  border: none;
}

.search-list .list {
  margin-top: 20px;
  list-style: none;
  text-align: left;
  color: #222;
}

.search-list .list li {
  margin: 20px 40px 20px 0;
}
