.App {
  text-align: center;
}

.App-header {
  background-color: #272420;
  color: white;
  height: 7vh;
}

.App-title {
  font-size: 1.4em;
  margin: auto;
  padding: 2vh;
}

.App-list-button {
  position: absolute;
  left: 1vh;
  top: 1vh;
  padding: 1.5vh;
  background-color: #444;
  color: white;
}